﻿
@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>
<form action="/HistoriaClinica/Crear" method="post">
    <input type="hidden" name="IdUsuario" value="@ViewBag.idUser" />

    <label>Codigo</label>
    <input name="CodigoRegistro" />

    <label>Nombre de mascota</label>
    <input name="NombreMascota" />

    <label>Fecha de nacimiento</label>
    <input name="FNacMascota" type="date" />

    <label>Sexo</label>
    <select name="SexoMasc">
        <option name="">--Elija una opcion--</option>
        <option name="">Hembra</option>
        <option name="">Macho</option>
    </select>

    <label>Especie</label>
    <select name="EspecieMasc">
        <option name="">--Elija una opcion--</option>
        <option name="">Gato</option>
        <option name="">Perro</option>
    </select>

    <label>Raza</label>
    <select name="RazaMasc">
        <option name="">--Elija una opcion--</option>
        <option name="">Criollo</option>
        <option name="">Angora</option>
    </select>

    <label>Tamaño</label>
    <input name="Tamaño" />

    <label>Datos particulares</label>
    <textarea name="DatosPart"></textarea>

    <label>Nombre de dueño</label>
    <input name="NombreDueño" />

    <label>Direccion de dueño</label>
    <input name="DirDueño" />

    <label>Telefono de dueño</label>
    <input name="TelefonoDueño" />

    <label>Email de dueño</label>
    <input name="EmailDueño" />

    <button>Guardar</button>
</form>
