﻿
<a href="/HistoriaClinica/Crear">Agregar historia</a>
<table class="table">
    <thead>
        <tr>
            <th>Codigo de registro</th>
            <th>Fecha de registro</th>
            <th>Nombre</th>
            <th>Fecha de nacimiento</th>
            <th>Sexo</th>
            <th>Especie</th>
            <th>Raza</th>
            <th>Tamaño</th>
            <th>Nombre Dueño</th>
            <th>Direccion</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Datos particulares</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>@item.CodigoRegistro</td>
            <td>@item.FechaRegistro</td>
            <td>@item.NombreMascota</td>
            <td>@item.FNacMascota</td>
            <td>@item.SexoMasc</td>
            <td>@item.EspecieMasc</td>
            <td>@item.RazaMasc</td>
            <td>@item.Tamaño</td>
            <td>@item.NombreDueño</td>
            <td>@item.DirDueño</td>
            <td>@item.TelefonoDueño</td>
            <td>@item.EmailDueño</td>
            <td>@item.DatosPart</td>
        </tr>
        }
    </tbody>
</table>
